html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: novito, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: center;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 10vw;
	font-weight: normal;
	margin: 0;
}

ul {
	list-style: none;
	font-size: 30px;
}

ul > li {
	margin: 0 0 10px 0;
}

em {
	font-style: normal;
	font-weight: inherit;
	text-decoration: underline;
}

p {
	font-size: 30px;
	margin: 15px 0 0 0;
}

.page {
	width: 100%;
	height: 100%;
	display: block;
	color: #222222;
}

.page1 {
	background-color: #FFBE26;
}

.page2 {
	background-color: #FFFFFF;
}

div.-content {
	margin: 0 auto;
	display: block;
	vertical-align: middle;
}

@media (min-width: 600px) {
	.-content {
		padding: 0 54px; 
	}
}